<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collection '{{#with summary}}{{collection.name}}{{/with}}' - Report</title>
</head>
<body>
  <table>
      <thead>
        <tr>
            <th>Collection name</th>
            <th>Failures</th>
            <th>Updated on</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            {{#with summary}}
                <td>{{collection.name}}</td>
                <td>{{failures.length}}</td>
                <td>{{../timestamp}}</td>
            {{/with}}
        </tr>
      </tbody>
  </table>
</body>
</html>
